<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <pluginGroups>
  </pluginGroups>
  <proxies>
  </proxies>
  <servers>
    <server>
      <id>eportal</id>
      <username>taxes</username>
      <password>taxes</password>
    </server>
  </servers>
  <mirrors>
    <mirror>
      <id>eportal</id>
      <mirrorOf>*</mirrorOf>
      <name>e-service eportal local repo</name>
      <url>http://maven.e-taxes.gov.az/repository/maven-group</url>
    </mirror>
  </mirrors>
  <profiles>
  </profiles>
</settings> 
